.btnAddGiraffe {
    background-color: #668663;
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    cursor: pointer;
}



.row {
    display: flex;

}

.titlePage {
    font-size: 32px;
    font-weight: 700;
    color: #567354;
    display: inline-block;
    margin-right: 15px;
}